*{
    margin: 0;
    padding: 0;
}
#game{
    height: 500px;
    width: 390px;
    border: 1px solid black;
    margin: 1rem auto;
    background: url(../image/road1.jpg);
    background-size: contain;
    overflow: hidden;
}
#bluecar{
    height: 100px;
    width: 130px;
    position: relative;
    top: 0px;
    left: 0px;
    animation: move 2s linear infinite ;
    text-align: center;
}
#bluecar img{
    height: 110px;
}
@keyframes move {
    0%{
        top: 0px;
    }
    100%{
        top: 501px;
    }
}